.messages {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4rem 2fr;
    height: 84vh;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    overflow: hidden;
}

.chat-header {
    grid-area: 1/1/2/2;
    padding-top: 1rem;
    padding-left: 1rem;
    border-bottom: 1px lightgray solid;
    border-right: 1px lightgray solid;
}

.chat-sec {
    grid-area: 2/1/3/2;
    border-right: 1px lightgray solid;

    >ul {
        /* padding-left: 1rem; */
        margin: 0;

        >h3 {
            padding-left: 1rem;
        }

        >li {
            padding: 1rem;
            /* border:- 1px solid rgba(199, 199, 199, 0.411); */
            border-radius: 10px;
        }

        >li:hover {
            background-color: rgba(199, 199, 199, 0.137);
            cursor: pointer;
        }
    }
}

.msg-header {
    grid-area: 1/2/2/3;
    padding-top: 1rem;
    padding-left: 1rem;
    border-bottom: 1px rgb(211, 211, 211) solid;

}

.msg-sec {
    grid-area: 2/2/3/3;
    overflow-y: auto;
    padding-right: 1rem;
    padding-left: 0.8rem;
    background-color: #dddddd49;
}

.active {
    background-color: rgba(199, 199, 199, 0.137);
    border-left: 4px solid #FF385C;
}

.chat-with {
    font-size: large;
}


.img-url {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.last-message{
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
}