.messages {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4rem 2fr;
    height: 84vh;
    margin: 0 auto;
    padding: 0 2.3rem;
    overflow: hidden;
    max-width: 2000px;
}
.chat-header {
    grid-area: 1/1/2/2;
    padding-top: 1rem;
    padding-left: 1rem;
    border-bottom: 1px lightgray solid;
    border-right: 1px lightgray solid;
}

.chat-sec {
    grid-area: 2/1/3/2;
    border-right: 1px lightgray solid;

    >ul {
        /* padding-left: 1rem; */
        margin: 0;

        >h3 {
            padding-left: 1rem;
        }

        >li {
            padding: 1rem;
            /* border:- 1px solid rgba(199, 199, 199, 0.411); */
            border-radius: 10px;
        }

        >li:hover {
            background-color: rgba(199, 199, 199, 0.137);
            cursor: pointer;
        }
    }
}

.msg-header {
    grid-area: 1/2/2/3;
    padding-top: 1rem;
    padding-left: 1rem;
    border-bottom: 1px rgb(211, 211, 211) solid;

}

.msg-sec {
    grid-area: 2/2/3/3;
    overflow-y: auto;
    padding-right: 1rem;
    padding-left: 0.8rem;
    background-color: #cfcfcf49;
    display: grid;
}

.active-chat {
    background-color: rgba(199, 199, 199, 0.137);
    border-left: 3px solid #FF385C;
}

.chat-with {
    font-size: small;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15rem;
}


.img-url {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.last-message {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width:1060px) {

    .last-message,
    .chat-with {
        max-width: 10rem;
    }
}

@media (max-width:860px) {

    .last-message,
    .chat-with {
        max-width: 8rem;
    }
}

@media (max-width:745px) {
    main {
        width: 95vw;
    }

    .messages {
        grid-template-columns: 4rem 1fr;
        grid-template-rows: 1fr;
        margin: 0;
    }

    .chat-header,
    .chat-with,
    .last-message {
        display: none;
    }

    .active-chat {
        border: 3px solid #FF385C;
    }

    .chat-sec {
        >ul {
            >li {
                padding: 0;
                border-radius: 50%;
                width: 53px;
            }
        }
    }

    .img-url {
        margin-right: 0;
    }

    .chat-info {
        height: 0;
        width: 0;
    }

    .msg-sec {
        height: 75vh;
    }
}