.app-header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    background: linear-gradient(180deg, #ffffff 39.9%, #f0f0f0 100%);
    padding: 2rem 70px;
    >.logo {
        display: flex;
        align-items:center;
        cursor: pointer;
        & img {
            max-height: 2.3rem;
        }
        & span{
            font-size: 24px;
            font-weight: 500;
            padding-left: 0.5rem;
            margin-top: 15px;
            color: var(--clr6);
        }
    }

    .flex.align-center{
        display: flex;
        gap: 15px;        
    }

    a.logo:hover,
    a.logo:active,
    a.logo:visited,
    a.logo:focus {
        text-decoration: none;
        color: inherit;
    }

    .btn-menu{
        background: var(--gray0);
        color: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

    .btn-menu svg{
        font-size: 20px;
    }

    .btn-menu:hover{
        background-color: var(--gray1);
    }



}

/* Side Menu Styles */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.side-menu {
    position: fixed;
    top: 90px;
    right: 70px;
    width: 300px;
    background-color: white;
    border-radius: 1rem ;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    font-weight: 500;
}



@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.side-menu-nav {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
}

.side-menu-nav a,
.side-menu-nav button {
    padding: 0.35rem 1rem;
    text-decoration: none;
    color: #222;
    font-size: 0.9rem;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.side-menu-nav a:hover,
.side-menu-nav button:hover {
    background-color: #f7f7f7;
}

.side-menu-nav hr {
    border: none;
    border-top: 1px solid #ebebeb;
    margin: 0.5rem 0;
}

.side-menu-nav a p {
        font-size: 0.7rem;
        font-weight: 300;
        margin-top: 5px;
}

.btn-account{
    background-color: #222222;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 10px;
}


