.user-chat{
    display: block;
}
.chat {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    & li {
        padding-inline-start: .3em;
        font-size: .9em;
    }

    /* li:nth-child(odd) {
        background-color: whitesmoke;
    } */

    form {
        display: flex;
        gap: 1em;
        position: sticky;
        bottom: 0;
        z-index: 1;

        >input {
            flex-grow: 1;
            padding: 0.5rem;
            border-radius: var(--h-border-radius);
            border: grey 2px solid;
        }

        >button {
            border-radius: var(--h-border-radius);
            padding: 0 0.8rem;
        }

        >button:hover {
            background-color: blueviolet;
        }
    }
}

.chat-options {
    display: flex;
    gap: 1em;

    padding: 0.5em;
    background-color: var(--clr4);

    accent-color: black;

    label:last-of-type {
        margin-inline-start: auto;
    }
}

.align-left-chat {
    justify-content: start;

    >span {
        margin-left: 0.5rem;
    }
}

.align-right-chat {
    justify-content: end;
    flex-direction: row-reverse;

    >span {
        margin-right: 0.5rem;
    }
}

.li-msg {
    margin-top: 0.2rem;
    z-index: 0;

    >span {
        font-weight: bold;
    }
}

.chat-avatar {
    z-index: 0;

}