.chat {
    & li {
        padding-inline-start: .3em;
        font-size: .9em;
    }

    li:nth-child(odd) {
        background-color: whitesmoke;
    }

    form {
        display: flex;
        gap: 1em;

        >input {
            flex-grow: 1;
        }
    }
}

.chat-options {
    display: flex;
    gap: 1em;

    padding: 0.5em;
    background-color: var(--clr4);

    accent-color: black;

    label:last-of-type {
        margin-inline-start: auto;
    }
}

.align-left-chat {
    justify-content: start;

    >span {
        margin-left: 0.5rem;
    }
}

.align-right-chat {
    justify-content: end;
    flex-direction: row-reverse;

    >span {
        margin-right: 0.5rem;
    }
}

.li-msg {
    >span {
        font-weight: bold;
    }
}