.user-chat {
    display: block;
}

.chat {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;

    & li {
        padding-inline-start: .3em;
        font-size: .9em;
    }

    /* li:nth-child(odd) {
        background-color: whitesmoke;
    } */

    form {
        display: flex;
        /* gap: 1em; */
        position: sticky;
        bottom: 0;
        z-index: 1;

        >input {
            flex-grow: 1;
            padding: 0.5rem;
            margin-bottom: 20px;
            border-radius: 0.8rem;
            border: none;
            background-color: #d6d6d6;
        }

        >input:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(52, 152, 219, 0.418);
        }

        >button {
            border-radius: var(--h-border-radius);
            padding: 0 0.8rem;
            background-color: #FF385C;
            margin-bottom: 20px;
        }

        >button:hover {
            background-color: #d72f4e;
        }
    }
}

.chat::-webkit-scrollbar {
  display: none;
}

.chat-options {
    display: flex;
    gap: 1em;

    padding: 0.5em;
    background-color: var(--clr4);

    accent-color: black;

    label:last-of-type {
        margin-inline-start: auto;
    }
}

.align-left-chat {
    justify-content: start;

    >.msg-container {

        background-color: #e0e0e0;
        margin-left: 0.3rem;
    }

    >span {
        margin-left: 0.5rem;
    }
}

.align-right-chat {
    justify-content: end;
    flex-direction: row-reverse;

    >.msg-container {
        background-color: #78dd7483;
        margin-right: 0.3rem;
        text-align: end;
    }

    >span {
        margin-right: 0.5rem;
    }
}

.li-msg {
    margin-top: 0.2rem;
    z-index: 0;

    >span {
        font-weight: bold;
    }
}

.chat-avatar {
    z-index: 0;
    align-self: flex-end;
}

.msg-container {
    max-width: 40%;
    overflow-wrap: break-word;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.fullname-chat {
    position: relative;
    top: -0.2rem;
    font-size: smaller;
}

.not-chat-msg{
    place-self: center;
    color: gray;
}