* {
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',Arial, sans-serif;
}
   
body {
    margin: 0 auto;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* color: var(--clr2); */
    font-weight: 400; 
}


/* hide scrollbar */
/* html{
    overflow-y: scroll; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
html::-webkit-scrollbar{
    display: none;
} */
html,body{
    overflow-x: clip;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
}

  h1, h2, h3 {
    font-weight: 600; 
  }

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

img,
embed,
video,
object {
  max-width: 100%;
  display: block;
}