/* Flex helpers */
.flex {
    display: flex;

    >.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-end {
        justify-content: end;
    }

    &.justify-start {
        justify-content: start;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.wrap {
    flex-wrap: wrap;
}


/* shadow */
.shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.08);
}

.box-shadow-modal {
    box-shadow: 0 0 0px 100vh hsl(0deg 0% 20% / 35%);
}


/* border-radius */

.border-radius {
    border-radius: var(--h-border-radius);
}


/* scrolling  */

.no-scrolling {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}



/* custom scrollbar */
.custom-scroll {
    /* padding-right: 5px; */
    
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
    overflow: hidden;
}


.custom-scroll::-webkit-scrollbar-button {
    display: none;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 15px;
    /* margin-top: 10px; */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;

    border: 2px solid transparent;
    background-clip: content-box;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}
