.mobile-only-item {
    display: none !important;
}

.not-mobile-item {
    display: flex !important;
    align-items: center;
}

/* search input in mobile */
.search-mobile {
    border: none;
    border-radius: var(--h-border-radius);
    padding: 0.625rem 1.1875rem;
    width: 100vw;
    height: 2.1875rem;

    &::placeholder {
        color: black;
        font-weight: 500;
        text-align: center;
    }

    &:focus {
        border: none;

    }
}

@media screen and (max-width:745px) {
    .main-container {
        display: flex;
        flex-direction: column;

        >.app-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            /* overflow-y: auto; */
            background-color: #f1f1f1;
        }

        /* overflow: hidden;
        overflow-y: hidden; */
        /* overflow-x: hidden; */
    }

    .mobile-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: 100vh;
        width: 100vw;
        position: relative;

        >.x-btn {
            display: grid;
            place-items: center;
            position: absolute;
            z-index: 100;
            right: 0.7rem;
            top: 0.5rem;
            height: 2rem;
            padding: 5px 1px;
            border-radius: 50%;
            color: black;
            background-color: #fff;
            border: 1px solid #ddd;
            cursor: pointer;
        }

        >li {
            >.filter-btn {
                width: 80vw;
                background-color: #fff;
                border-radius: 1rem;
                padding: 20px;
                justify-content: space-between;
            }

            &:not(:first-of-type&:last-child) {
                margin-top: 1rem;
            }

            &:last-of-type {
                width: 80vw;
                /* justify-self: flex-end; */
                /* position: relative; */
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 1rem;

                >a {
                    text-decoration: underline;
                    cursor: pointer;
                }

                >button {
                    border-radius: 5px;
                    padding: 0.5rem;
                    color: whitesmoke;
                    background-color: rgb(20, 20, 20);

                }
            }
        }

    }

    .mobile-modal {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        width: 80vw;

        >span {
            padding-left: 2rem;
            font-weight: 600;
            font-size: 1.5rem;
            padding-top: 2rem;
        }
    }

    .mobile-only-item {
        display: block !important;
    }

    .not-mobile-item {
        display: none !important;
    }

}

/* Scale down all elements on small screens */
@media screen and (max-width: 400px) {
    .mobile-filter {

        >li {
            /* margin-right: 60px; */
        }

        >.x-btn {
            /* margin-right: 20px; */
        }
    }

    /* Scale down inputs and interactive elements */
    .mobile-modal input,
    .mobile-modal textarea,
    .mobile-modal select,
    .mobile-modal button {
        font-size: 0.875rem;
        padding: 0.5rem;
        max-width: 75vw;
        /* width:initial; */
    }

    li.suggestion {
        max-width: 75vw;
    }

    .rdp-root {
        --rdp-day_button-height: 2.2rem;
        --rdp-day_button-width: 2.2rem;
    }

    .mobile-modal .guest-picker-container,
    .mobile-modal .calendar-container {
        font-size: 0.875rem;
    }

    .mobile-modal .guest-picker-container button {
        width: 0.7rem;
        height: 0.7rem;
        font-size: 0.875rem;
    }
}

/* Fix modal overflow on medium-small screens */
@media screen and (max-width: 470px) {
    .mobile-modal {
        width: 80vw;
        max-width: 90vw;
        overflow-x: hidden;
        align-self: center;
    }

    .mobile-modal .guest-picker-container,
    .mobile-modal .calendar-container {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
}

/* Extra small screens */
/* @media screen and (max-width: 360px) {
    .mobile-modal {
        width: 95vw;
        max-width: 95vw;
    }

    .mobile-modal input,
    .mobile-modal textarea,
    .mobile-modal select,
    .mobile-modal button {
        font-size: 0.8rem;
        padding: 0.4rem;
    }

    .mobile-modal .guest-picker-container,
    .mobile-modal .calendar-container {
        font-size: 0.8rem;
        width: 100%;
    }

    .mobile-modal .guest-picker-container button {
        width: 0.7rem;
        height: 0.7rem;
        font-size: 0.8rem;
    }
} */