@font-face {
    /* font-family: caveat; */
    /* src: url(../../fonts/Caveat/Caveat-Regular.ttf); */
}
@font-face {
    /* font-family: montserrat; */
    /* src: url(../../fonts/Montserrat/Montserrat-Regular.ttf); */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

  @import
  url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');