:root {
  --clr1: #ce2e6c;
  --clr2: #4f3a65;
  --clr3: #574f7d;
  --clr4: #95adbe;
  --clr5: #dff0ea;
  --clr6: #FF385C;

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);

  --gray0: #efefef;
  --gray1: #dfdfdf;
  --gray2: #aaa;
  --gray3: #777;
  --gray4: #333;


  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59);


  /* header-filter */

    --h-border-radius: 2rem;
    --h-close-header-fontsize: 0.875rem;
    --h-close-span-fontsize: 1rem;
    --h-close-font-weight: 500;
    --h-light-text-color: rgb(108, 108, 108);
    --h--close-border-color: rgb(221, 221, 221);
    --search-svg-bgc-bright: #FF385C;
    --search-svg-bgc-dark: #d72f4e;
    --bgc-light-grey: rgb(230, 230, 230);
}