.review-list {
    --min-column-size: 300px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5em;

    & > li {
        overflow: hidden;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .actions {
        & button {
            padding: .3em .5em;
            float: right;
        }
    }
}