.stays-horizontal-scroll {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Default for mobile */
    gap: 16px;
    overflow-x: visible;
    /* padding: 8px 8px 16px 8px; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    width: 100%;
}

.stays-horizontal-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.stay-card {
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: auto;
    max-width: none;
}

/* mobile */
@media (max-width: 799px){
    .stays-horizontal-scroll {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px){
    .stays-horizontal-scroll{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1000px){
    .stays-horizontal-scroll{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1190px){
    .stays-horizontal-scroll{
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1439px){
    .stays-horizontal-scroll{
        grid-template-columns: repeat(7, 1fr);
    }
}

