/* stay-filter */
:root {
    --h-border-radius: 32px;
    --h-close-header-fontsize: 14px;
    --h-close-span-fontsize: 16px;
    --h-close-font-weight: 500;
    --h-light-text-color: rgb(108, 108, 108);
    --h--close-border-color: rgb(221, 221, 221);
    --search-svg-bgc-bright: #FF385C;
    --search-svg-bgc-dark: #d72f4e;
    --bgc-light-grey: rgb(230, 230, 230);
}

.stay-filter {
    display: flex;
    align-items: center;
    border-radius: var(--h-border-radius);
    background-color: #fff;
    position: relative;
    border: 1px solid var(--h--close-border-color);

    >button:not(:last-of-type) {
        text-align: start;
        /* border-right: 2px rgb(226, 226, 226) solid; */
    }
}

.stay-filter.close {
    max-width: 375px;
    max-height: 44px;
    padding: 16px 0;

    &:hover {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    >.filter-btn {
        >span {
            font-size: var(--h-s-fontsize);
            font-weight: var(--h-close-font-weight);
            border-radius: var(--h-border-radius)
        }
    }
    &.wide{
        max-width: 90vw;
    }
}

.stay-filter.open {
    border-radius: 3rem;
    order: 3;
    /* width: 80%; */
    justify-content: left;
    max-width: 780px;
    /* min-width: 780px; */
    margin: auto;

    >button:hover,
    >button.active {
        border-radius: 3rem;
    }
    >.filter-btn:last-of-type {
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }
}

.open-filter-div{
    order: 3;
    flex-basis: 100%;
    flex-grow: 1;
}


.stay-filter.active {
    background-color: var(--bgc-light-grey);

    >input {
        background: none;
    }
}

/*span -  light-color */
span.light-color,
input::placeholder {
    color: var(--h-light-text-color);
    font-size: 0.875rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
}


/* icons */
.house-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

SearchIcon {
    padding: 10;
}

/* filter-btn */
.filter-btn {
    background: fixed;
    border: none;
    color: black;
    text-align: start;
    align-items: stretch;

    &.close {
        line-height: 25px;
        padding: 0 16px;
    }

    &.open {
        height: 70px;
        padding: 15px 32px;

        >input {
            background: none;
        }
    }

    width: auto;
    position: relative;

    /* border-right: 2px rgb(226, 226, 226) solid; */
    /* font-weight: 600; */
    /* border-radius: var(--h-border-radius); */
    >input {
        border: none;
        border-radius: var(--h-border-radius);
        padding: 0.2rem;
        background: none;
    }

    >input:focus {
        outline: none;
        border: none;
    }
}


.btn-header {
    font-size: var(--h-close-fontsize);
    line-height: var(--h-close-fontsize);
}

.stay-filter.close>div>.filter-btn:first-of-type::after,
.stay-filter.close>div>.filter-btn:nth-of-type(2)::after,
.stay-filter.open>.filter-btn:not(:last-of-type)::after {

    content: '';
    position: absolute;

    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 1px;
    height: 50%;
    background-color: rgb(226, 226, 226);
}


.filter-btn.des {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filter-btn:last-of-type>div {
    text-align: start;
    /* padding: 1rem; */
}

.filter-btn.open:hover {
    background-color: #DDDDDD;
    border: none;
    border-radius: var(--h-border-radius);
    align-items: stretch;

    >input {
        background: none;
    }
}

.filter-btn.active {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.08);

    >input {
        background: fixed;
        background-color: #fff;

        &:hover {
            background-color: #fff;
        }
    }

    &:hover {
        background-color: #fff;
    }
}



/* check-in */
.check-in {
    border-right: 2px solid rgb(226, 226, 226);
    border-left: 2px solid rgb(226, 226, 226);

}

/* search */
.search-btn {
    background-color: var(--search-svg-bgc-bright);
    border: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height:45px;
    width: 45px;
    color: white;
    

    &.search-sml {
        padding: 1.6rem;
    }
}

.search-text {
    display: none;
}

.search-btn.small-search {
    height: 32px;
    width: 32px;
    margin-left: 0;
    margin-right: 8px;
}

.search-btn:hover {
    background: var(--btn-color-hover);
}

.search-btn.open {
    width: 6rem;
    padding: 25px 10px;
    border-radius: var(--h-border-radius);
    transition: width 0.3s ease, background-color 0.2s ease, border-radius 0.3s ease;
    background-color: var(--search-svg-bgc-dark);

}

.search-btn.open:hover {
    background-color: var(--search-svg-bgc-dark);
}

.search-btn.open .search-text {
    display: inline;
}


button.filter-btn.open.flex.row{
    padding-right: 0.5rem;
}

