.stay-preview-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.stay-preview-link:hover {
    text-decoration: none;
}

.stay-preview {
    overflow: hidden;
    background: white;
    transition: transform 0.2s ease;
    z-index: 1;
    cursor: pointer;
    width: 100%;
}

.stay-preview:hover {
    transform: none;
}

.stay-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.stay-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 16px;
}

.heart-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
}

.heart-icon:hover {
    transform: scale(1.1);
}

.heart-icon svg {
    display: block;
    fill: rgba(0, 0, 0, 0.5); 
    height: 24px ; 
    width: 24px;
    stroke: white;
    stroke-width: 2; 
    overflow: visible;
}



.guest-favorite-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.guest-favorite-badge svg {
    color: white;
}

.stay-info {
    padding: 8px 0 0 0;
    font-size: 0.8rem;
}

.stay-title {
    margin: 0 0 2px 0;
    /* font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; */
    font-size: 0.8rem;
    font-weight: 500;
    color: #222;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.stay-dates {
    margin: 0 0 2px 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #717171;
    font-weight: 400;
}

.stay-price-rating {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 4px;
    white-space: nowrap;
    overflow: hidden;
    color: #717171;
}



.stay-rating {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #717171;
    white-space: nowrap;
}

.stay-rating .star {
    color: #717171;
    font-size: 0.7rem;
}